        body {
            margin: 0;
            padding: 0;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background: linear-gradient(45deg, #000000, #4b0d0d);
            font-family: 'Press Start 2P', cursive;
            color: #dcdcdc;
            overflow: hidden;
        }

        h1 {
            font-size: 2.5em;
            animation: glow 1.5s infinite alternate;
            text-shadow: 0 0 5px #dcdcdc, 0 0 10px #dcdcdc, 0 0 15px #4b0d0d, 0 0 20px #4b0d0d, 0 0 25px #4b0d0d, 0 0 30px #4b0d0d, 0 0 35px #4b0d0d;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        button {
            font-size: 1.2em;
            padding: 10px 20px;
            border: none;
            border-radius: 10px;
            background: linear-gradient(45deg, #4b0d0d, #000000);
            color: #dcdcdc;
            cursor: pointer;
            transition: background 0.3s, transform 0.3s;
            box-shadow: 0 0 10px #4b0d0d, 0 0 20px #4b0d0d, 0 0 30px #4b0d0d, 0 0 40px #4b0d0d;
        }

        button:hover {
            background: linear-gradient(45deg, #000000, #4b0d0d);
            transform: scale(1.1);
        }

        button:active {
            transform: scale(0.95);
        }

        @keyframes glow {
            from {
                text-shadow: 0 0 10px #dcdcdc, 0 0 20px #dcdcdc, 0 0 30px #4b0d0d, 0 0 40px #4b0d0d, 0 0 50px #4b0d0d, 0 0 60px #4b0d0d, 0 0 70px #4b0d0d;
            }
            to {
                text-shadow: 0 0 20px #dcdcdc, 0 0 30px #dcdcdc, 0 0 40px #4b0d0d, 0 0 50px #4b0d0d, 0 0 60px #4b0d0d, 0 0 70px #4b0d0d, 0 0 80px #4b0d0d;
            }
        }

        /* Background Animation */
        .background {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            z-index: -1;
        }

        .stars {
            width: 100%;
            height: 100%;
            animation: moveStars 50s linear infinite;
            filter: hue-rotate(-120deg) contrast(1.2);
        }

        .back a{
            margin-top: 4rem;
            display: flex;
            justify-content: center;
        }

        @keyframes moveStars {
            from {transform: translateY(0);}
            to {transform: translateY(-1000px);}
        }
